/**
 * @author: Joel Sahli
 * @version: 3.0
 */


.App {
  text-align: center;
  background-image: url("img/abstract-attractive-backdrop-988872.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-style: inherit;

}

.inputfield{

}
.submitfield{

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.inputfield{
  text-align: center;
}
.titel{
  font-size: 3.5em;
  font-weight: bold;
  text-align: center;
}
.word{
  text-align: center;
}
.container{

  height:100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;

}
.logik{
  background-color:rgba(255, 255, 255, 0.5); ;
  padding-top: 3em;
  padding-bottom: 3em;
  font-weight: bold;
}
.phonetic{
  text-align: center;

}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
